<!DOCTYPE html>
<html lang="ja">
{{ partial "head.html" . }}
<body class="site-top">
  <header>
    <h1>kazkn.com</h1>
  </header>
  <main>
    <ul>
      {{ range first 5 (where .Site.RegularPages "Type" "post") }}
      {{ partial "summary.html" . }}
      {{ end }}
    </ul>
    <a href="/post">more articles...</a>
    <h2>About Me</h2>
    <dl>
      <dt>Name</dt>
      <dd>Kazuki Nishikawa</dd>
      <dt>GitHub</dt>
      <dd><a href="https://github.com/kzkn">kzkn</a></dd>
    </dl>
  </main>
</body>
</html>
